@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {

	--primary-color: #50c1d8;
	--primary-color-darker: #06788f;



}

/* Globales */
body,
html {
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	/* margin: 0; */
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Roboto;
}

/* Navbar */
header {
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

nav {
	display: flex;
	gap: 12px;

}

nav a {
	text-decoration: none;
	background-color: var(--primary-color);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;

}

nav a:hover {
	background-color: var(--primary-color-darker);
}

section {
	padding: 40px;
}

section img {
	object-fit: cover;
	width: 100%;
}


.flex-centrado {
	display: flex;
	justify-content: center;
	align-items: center;
}

#requerido {
	color: red;
}

.flexbox {
	display: flex;
}

.row-between {
	flex-direction: column;
	justify-content: space-between;
}

/* Botones */
.button-centrado {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}



.btn {
	font-size: 14px;
	font-weight: normal;
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}


#btn-primario {
	background-color: var(--primary-color);
	color: white;
}

#btn-secundario {
	background-color: white;
	color: var(--primary-color);
}


/* Button hover efecto */
#btn-primario:hover {
	background-color: var(--primary-color-darker);
}


#btn-secundario:hover {
	background-color: var(--primary-color-darker);
	color: white;
}



/* Inicio de CSS del primer Section */

.flex1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	gap: 90px
}

.flex1 h2 {
	color: var(--primary-color-darker);
}

.flex1 input[type="text"],
.flex1 select {
	height: 40px;
	width: 250px;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	padding: 10px;
}

.flex1 textarea {
	height: 107px;
	width: 250px;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
}

.flex1 .column {
	margin-top: 20px;
	margin-left: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.flex1 .column select {
	margin-bottom: 5px;
}


/* CSS para el apartado de la tabla en cotizacion */
table {

	border: 2px solid var(--primary-color);
	border-radius: 10px;
}

th,
td {
	padding: 5px;
	text-align: center;

}

td {
	border-top: 2px solid var(--primary-color);
}

/* Final CSS para el apartado de la tabla en cotizacion */

/* Final del primer Section */

/* Inicio del CSS del segundo Section */
.grilla {
	display: grid;
	gap: 30px;
	background-color: rgb(251, 136, 20);

}

.grilla h2 {
	grid-column: 1 / span 4;
	grid-column: 1 / 5;
	text-align: start;
}

.grilla article {
	background-color: white;
	border-radius: 5px;

}

.grilla article img {
	border-radius: 5px 5px 0 0;
}

.grilla article div {
	padding: 10px;
}

.grilla {
	grid-template: auto repeat(1, 1fr) / repeat(4, 1fr);

}


.grilla h2 {
	grid-column: 1/ span 4;
}

.grilla article:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	gap: 15px;
	grid-column: 1/ span 2;

}

.grilla article:nth-of-type(1)>* {
	height: calc((100% - 15px / 2));
}

.grilla article:nth-of-type(1)>div {
	margin: 20px;
}


.grilla article:nth-of-type(1) img {
	object-fit: cover;
	height: 90px;
}



.grilla article:nth-of-type(2) {

	background: url(img/kyoto.jpg) center center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.grilla article:nth-of-type(3) {

	grid-row: 2 / 4;
	grid-column: 4 / 4;

}

.grilla article:nth-of-type(3)>img {
	height: 275px;
}



.grilla article:nth-of-type(4)>button {
	margin: 10px;
}

.grilla article:nth-of-type(4) h4 {
	color: grey;
}


.grilla article:nth-of-type(5) {
	display: flex;
	grid-column: 2/ span 2;
}

.grilla article:nth-of-type(5) img {
	width: 300px;
	border-radius: 5px 0 0 5px;
}

/* Final del segunda Section */
/* Inicio de la tercera Section */
/* Final del tercera Section */


/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color);
}

footer p,
footer i {
	margin: 15px;
	color: white;
}