@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {

	--primary-button-color: #50c1d8;
	--primary-button-hover: #06788f;
}

/* Globales */
body,
html {
	width: 100%;
}

* {
	/* margin: 0; */
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Roboto;
}

/* Navbar */
header {
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: flex;
	gap: 12px;
}

nav a {
	text-decoration: none;
	background-color: var(--primary-button-color);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;

}

nav a:hover {
	background-color: var(--primary-button-hover);
}


.centrado {
	/* menor al 100% */
	width: 90%;
	margin: 0 auto;
}

.flex-centrado {
	display: flex;
	justify-content: center;
	align-items: center;
}

#requerido {
	color: red;
}

.flexbox {
	display: flex;
}

.row-between {
	flex-direction: column;
	justify-content: space-between;
}

/* Botones */
.button-centrado {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}



.btn {
	font-size: 14px;
	font-weight: normal;
	border: none;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#btn-primario:hover {
	background-color: var(--primary-button-hover);
}

#btn-primario {
	background-color: var(--primary-button-color);
	color: white;
}


#btn-secundario {
	background-color: white;
	color: var(--primary-button-color);
}

#btn-secundario:hover {
	background-color: var(--primary-button-hover);
	color: white;
}



/* Inicio de CSS del primer Section */

.flex1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	gap: 90px
}

.flex1 h2 {
	color: var(--primary-button-color-darker);
}

.flex1 input[type="text"],
.flex1 select {
	border: 2px solid var(--primary-button-color);
	border-radius: 10px;
	padding: 10px;
}



table {

	border: 2px solid var(--primary-button-color);
	border-radius: 10px;
}

th,
td {
	padding: 5px;
	text-align: center;
	/* border-bottom: 2px solid var(--primary-button-color); */

}

td {
	border-top: 2px solid var(--primary-button-color);
}

/* Final del primer Section */

/* Inicio del CSS del segundo Section */
.flex2 {
	display: grid;
	background-color: #c27d23;
}

/* Final del segunda Section */


/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-button-color);
}

footer p,
footer i {
	color: white;
}